@{
    ViewBag.Title = "Home Page";
}


<div class="row my-3">
    <div class="alert alert-danger" role="alert" id="alertError" style="display: none" >
        
    </div>
</div>


@Html.Partial("_Producto")

<div class="row justify-content-md-center">


    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                   Productos con ajax
                </div>
            </div>
            <div class="card-body">
                @using (Ajax.BeginForm("Buscar", "Home", new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnFailure = "searchFailed",
                    LoadingElementId = "ajax-loader",
                    UpdateTargetId = "searchResult",

                }))
                {
                  <div class="d-flex flex-row">
                      <input type="text" name="nombre" class="form-control" />
                      <input type="submit" value="Buscar" class="btn btn-success" />
                      <img id="ajax-loader"
                           src="@Url.Content("~/Content/loader.gif")"
                           style="display:none" />
                  </div>
                }
            </div>
        </div>
        <div class="ajax-loader"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="7">Productos</th>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>

                </tr>
            </thead>
            <tbody id="searchResult"></tbody>
        </table>

    </div>  
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            AjaxInit();

            function searchFailed() {
                $("#searchResult").html("Error: Error con la busqueda");
            }
        });

         function AjaxInit() {
            $.ajax({
                url: '@Url.Action("Inicio", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: "html", 
                success: successFunc,
                error: errorFunc
            });
        }

        function successFunc(data) {
            $("#searchResult").html(data);
        }

        function errorFunc() {
            $("#searchResult").html("Error: Error con la data");
        }

        function errorFuncCreate() {
            $("#searchResult").html("Error: Error con la creación del producto");
        }


        function clean() {
            $("#txtNombre").val('');
            $("#txtPrecio").val('');
        }

        function success(data) {
            console.log(data);

            if (data.success) {
                $("#alertError").hide();

                $("#searchResult").append(`<tr> <td>${data.data.Nombre}</td> <td> ${data.data.Precio} </td>  </tr>`)
            } else {
                $("#alertError").show();

                $("#alertError").append(`<b> ${data.data} </b>`)
            }

        }

    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}